@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Play:wght@400;700&display=swap');

/*General*/

html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
    color: #0A3871;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F3F5FC;
    font-family: "Chakra Petch", sans-serif;
    min-height: 100vh;
}

/*Header*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2.5rem;
}

h1 {
    font-size: 3.2rem;
    margin-right: 2rem;
    text-align: center;
    width: 100%;
    
}

/*Main*/

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    padding: 0 2.5rem;
}

/*Formato general de contenedores*/

.contenedores__formato {
    border-radius: 1.5rem;
    box-shadow:  10px 15px 30px #ADB5BD;
    min-height: 20rem;
    width: 100%;
}

.contenedores__texto {
    background-color: transparent;
    font-family: "Play", sans-serif;
    font-size: 2rem;
    padding: 2.5rem;
}

/*Contenedor a encriptar*/

.contenedor__encriptado {
    background-color: #FFFFFF;
}

textarea {
    border: solid 1px #0A3871;
    resize: none;
}

textarea::placeholder {
    color: #0A3871;
    font-family: "Chakra Petch", sans-serif;
    font-size: 2rem;
}

textarea:hover {
    border: solid 2px #0A3871;
}

textarea:focus,
a:focus,
.boton:focus {
    border: solid 2px #0A3871;
    outline: none;
}

textarea::-webkit-scrollbar{
    background-color: transparent;
    width: 0.8rem;
 }

 textarea::-webkit-scrollbar-thumb{
     background: #0A3871;
     width: 1rem;
     border-radius: 0.5rem;
 }

textarea::-webkit-scrollbar-thumb:hover{
     background-color: #0A3871;
 }
 
textarea::-webkit-scrollbar-thumb:active{
     background-color: #0A3871;
 }

/*Contenedor encriptado*/

.contendor__encriptado__lleno {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.contendor__encriptado__vacio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://media.tenor.com/OeqA-TcLOQcAAAAi/stars-twinkle.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15rem 15rem;
    justify-content: center;
    padding: 5.5rem 0;
    text-align: center;
}

.contendor__encriptado__vacio p:first-of-type {
    font-size: 1.5rem;
    font-weight: bold;
}

/*Animación astronauta*/

.astronauta {
    filter: drop-shadow(0 0 0.5rem #609ed470);
    height: 21rem;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0) rotate(0deg);
    }
    50% {
        transform: translateY(-50px) rotate(-700deg);
    }
}

.astronauta:hover {
    animation: float 30s ease-in-out infinite;
}

/*Footer*/

footer {
    padding: 2.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a:hover {
    font-weight: bold;
}


/*Botones*/

.contenedor__botones {
    display: flex;
    flex-direction: row-reverse;
    gap: 2.5rem;
    justify-content: flex-start;
    margin: 2.5rem 0;
}

.boton {
    border: solid 1px #0A3871;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    font-family: "Chakra Petch", sans-serif;
    height: 4rem;
    width: 18.75rem;
}

.boton__claro {
    background-color: #D8DFE8;
}

.boton__oscuro {
    background-color: #0A3871;
    color: #F3F5FC;
}

.boton__claro:hover,
.boton__oscuro:hover {
    background-color: #FFFFFF;
    color: #0A3871;
    border: solid 2px #0A3871;
}

.boton__blanco {
    align-self: flex-end;
    background-color: #FFFFFF;
    margin-top: 2.5rem;
}

.boton__blanco:hover {
    background-color: #0A3871;
    color: #D8DFE8;
}

.boton__blanco:hover .bi {
    color: #D8DFE8;
}

/*Media Queries*/

/*Large - Medim*/
@media (max-width: 1200px) {
    main {
        display: block;
    }

    footer {
        position: static;
    }

}

/*Small*/
@media (max-width: 576px) {
    
    /*Generales*/
    header,
    main,
    .contenedores__texto {
        padding: 1rem;
        box-shadow: none;
    }

    /*Header*/
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
        font-size: 2rem;
        margin: 1.5rem 0 0 0;
    }

    /*Main*/
    .contenedores__texto {
        font-size: 1.4rem;
        padding: 1rem;
    }

    textarea::placeholder {
        font-size: 1.5rem;
    }

    textarea:focus {
        border: solid 1px #0A3871;
    }

    .contendor__encriptado__vacio {
        background: none;
    }

    .astronauta {
        display: none;
    }

    /*Botones*/
    .contenedor__botones {
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    .boton__blanco {
        align-self: center;
        margin-top: 1rem;
    }
}